:root {
    --dark: #252525;
    --light: #d7d7d7;
    --nav:  #a4a4a4;
    --shadow: #9e8e9c;
    --normal-weight: 400;
    --bold-weight: 700;
  } 
  
  * {
    font-family: "Jura", sans-serif;
    font-size: medium;
    font-weight: var(--normal-weight);
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--light);
  }
  
  .siteheader, .title1, .title2, .title3 {
    color: var(--dark);
    font-weight: var(--bold-weight);
    text-align: left;
    padding: 40px;
    background: var(--shadow);
  }
  
  .title1, .title2, .title3 {
    width: 15%;
    height: auto;
    justify-content: left;
  }

  .siteheader {
    background-image: url("/assets/images/ABBackground2.png");
  }

  .title1 {
    background-image: url("/assets/images/ABV-Header1.png");
  }
  
  .title2 {
    background-image: url("/assets/images/ABSideBar.png");
  }

  .title3 {
    background-image: url("/assets/images/ABV-Header3.png");
  }

  h1 {
    font-size: 3rem;
    font-weight: var(--bold-weight);
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: var(--bold-weight);
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: var(--bold-weight);
    margin-bottom: 10px;
  }

  header nav {
    display: flex;
    justify-content: right;
    margin: 15px 0px;
    background-color: var(--light);
  }
  
  header nav a {
    color: var(--dark);
    font-weight: var(--bold-weight);
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
  }
  
  header nav a:hover {
    color: var(--light);
    background-color: var(--dark);
  }
  
  main {
    display: block;
  }

  .aboutme, .portfolio, .contactme {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    width: 100vw;
    padding: 50px 50px 50px 10px;
    background-color: var(--light);
  }

  .aboutme-content, .portfolio-content, .contactme-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 50px;
  }

  .project-card {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 48%;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 5px 5px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--nav);
  }
  
  .project-card:first-child {
    flex: 1 0 95%;
  }

  .project-card > header {
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    bottom: auto;
    text-align: center;
  }
  
  .project-card > p {
    width: 100%;
    text-align: center;
  }
  
  .project-card > img {
    width: 100%;
  }

  .contact-card {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 240px;
    justify-content: center;
    padding: 5px;
    margin: 20px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: var(--light);
    background-color: var(--dark);
  }

  footer {
    width: 100%;
    padding: 20px;
    bottom: 0;
    text-align: center;
    color: var(--light);
    background: var(--dark);
  }

  @media screen and (max-width: 992px) {
    main, body, .aboutme, .portfolio, .contactme {
        flex-direction: column;
    } 
    
    .aboutme, .portfolio, .contactme {
        padding: 50px;
    }

    .title1, .title2, .title3 {
        display: flex;
        width: 100%;
        height: 20%;
    }

    .title1 {
        background-image: url(/assets/images/ABH-Header1.png);
    }
    
    .title2 {
        background-image: url(/assets/images/ABH-Header2.png);
    }
    
    .title3 {
        background-image: url(/assets/images/ABH-Header3.png);
    }

    .aboutme-content, .portfolio-content, .contactme-content {
        width: 100%;
        height: 80%;
    }
  }

  @media screen and (max-width: 768px) {
    .portfolio-content {
      flex-direction: column;
    }
  }
  